body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* flexible */
.flex-container {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero section */
.hero {
  width: 40%;
  /* margin: 0 6rem; */
}

.hero-heading {
  font-size: 60px;
  color: #000000cc;
  border-left: 5px solid;
  border-image: linear-gradient(#00ffbf, #ff4d4d);
  border-image-slice: 1;
  padding-left: 20px;
}

.red-color {
  color: #ff4d4d;
}

.hero-img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.hero-description {
  font-size: 20px;
  text-transform: capitalize;
  color: #000000cc;
  margin-bottom: 30px;
  text-align: justify;
}

.docs-btn {
  text-decoration: none;
  padding: 10px 30px;
  background: linear-gradient(90deg, #00ffbf, #ff4d4d);
  font-size: 20px;
  font-weight: 800;
  color: white;
  border-radius: 4px;
}

/* card section */
.card {
  
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 40px;
}
.card-heading {
  text-align: center;
  font-size: 40px;
  color: #000000cc;
}

.card {
  border-radius: 10px;
  width: 40%;
  height: 300px;
  padding-left: 16px;
}

.card > img{
    width: 40%;
}

.card > p{
    font-size: 15px;
}

/* card background */
.mission-card{
    background:  rgba(15, 238, 52, .3);
}

.vission-card{
    background: rgb(0, 255, 255,.3);
}

.goal-card{
    background:   rgb(131, 128, 96, .3);
}