body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/*  flexible and similar code  */
.flex-container {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-width-img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.width-contain {
  width: 40%;
}

.description {
  line-height: 1.6;
  text-align: justify;
  font-weight: 300;
}

.info-btn {
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(90deg, #00ffbf, #ff4d4d);
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-radius: 4px;
  line-height: 2;
}

.heading {
  font-size: 40px;
  line-height: 1.4;
}
/* end of flexible and similar code   */

/* hero section */
.hero-heading {
  font-size: 55px;
  color: #000000cc;
  border-left: 5px solid;
  border-image: linear-gradient(#00ffbf, #ff4d4d);
  border-image-slice: 1;
  padding-left: 20px;
}

.red-color {
  color: #ff4d4d;
}


/* card section */
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 40px;
}
.card-heading {
  text-align: center;
  font-size: 40px;
  color: #000000cc;
  margin-bottom: 80px;
}

.card {
  border-radius: 10px;
  width: 40%;
  height: 300px;
  padding-left: 16px;
}

.card > img {
  width: 40%;
}

.card > p {
  font-size: 15px;
}


/* card background */
.mission-card {
  background: rgba(15, 238, 52, 0.3);
}
.vission-card {
  background: rgb(0, 255, 255, 0.3);
}
.goal-card {
  background: rgb(131, 128, 96, 0.3);
}
/*  end of card section */


/*  roadmap section */
.roadmap-container {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.full-width {
  width: 100%;
  height: 60%;
  border-left: 5px solid;
  border-image: linear-gradient(#00ffbf, #ff4d4d);
  border-image-slice: 1;
  padding: 16px 20px;
}

.small-img {
  width: 70%;
}

nav {
  width: 200px;
  padding: 10px;
  border-top-left-radius: 100px;
}

nav ol li {
  font-size: 14px;
  margin-bottom: 10px;
  color: gray;
  border-bottom: 2px solid gray;
}

.medium-heading {
  font-size: 30px;
  text-transform: capitalize;
  color: #000000cc;
}

.border {
  background: black;
  color: white;
  padding: 6px 10px;
  display: block;
  width: 260px;
}

.border-bottom {
  display: block;
  width: 200px;
  border-bottom: 2px solid gray;
  margin-bottom: 8px;
  color: #ff4d4d;
}

h5 {
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: -10px;
  display: inline-block;
  border: 1px solid #00ffbf;
  padding: 6px 16px;
  color: #000000cc;
}


/*  footer here */
footer {
  background-color: black;
  width: 100%;
  text-align: center;
  color: white;
}

.footer-description {
    font-weight: 200;
    padding-bottom: 16px;
}
